<div class="container">

 <div acme-navbar>

  </div>
  <div class="row">


    <div class="center-form panel">
      <form method="post" ng-submit="signCtrl.signup()" name="signupForm" novalidate>
        <div class="panel-body">
          <h2 class="text-center">Sign up</h2>


           <div class="form-group has-feedback"
               ng-class="{ 'has-success' : signupForm.username.$valid && signupForm.username.$dirty, 'has-error' : signupForm.username.$invalid && signupForm.username.$dirty }">
              <input class="form-control input-lg" type="text" name="username"
                   ng-model="signCtrl.username" placeholder="User Name" required ng-model-options="{ debounce: 400 }"  ng-pattern="/^[a-zA-Z0-9\s]*$/" novalidate autofocus  user-Name-unique>
             <i class="glyphicon glyphicon-user form-control-feedback"></i>
            <span class="help-block text-danger"
                 ng-if="signupForm.username.$dirty"
                 ng-messages="signupForm.username.$error">
              <span ng-message="required">Username is required.</span>
              <span ng-message="pattern">Only alphabets,number and spaces.</span>
                <span ng-message="unique">Username id is not available.</span>
            </span>
          </div>


          <div class="form-group has-feedback"
               ng-class="{ 'has-success' : signupForm.email.$valid && signupForm.email.$dirty,'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">

            <input class="form-control input-lg" type="email" id="email"
                   name="email" ng-model="signCtrl.email" placeholder="Email" required
                    email-unique ng-trim="true" ng-model-options="{ debounce: 400 }">
            <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
            <span class="help-block text-danger" ng-if="signupForm.email.$dirty"
                 ng-messages="signupForm.email.$error"   >
              <span ng-message="required">Your email address is required.</span>
              <span ng-message="email">Your email address is invalid.</span>
              <span ng-message="unique">Email id is not available.</span>
            </span>
          </div>

          <div class="form-group has-feedback"
               ng-class="{ 'has-success' : signupForm.password.$valid && signupForm.password.$dirty, 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
            <input class="form-control input-lg" type="password" name="password"
                   ng-model="signCtrl.password" placeholder="Password" required >
            <i class="glyphicon glyphicon-lock form-control-feedback"></i>
            <span class="help-block text-danger"
                 ng-if="signupForm.password.$dirty"
                 ng-messages="signupForm.password.$error">
              <span ng-message="required">Password is required.</span>
            </span>
          </div>

          <div class="form-group has-feedback"
               ng-class="{ 'has-success' : signupForm.confirmPassword.$valid && signupForm.confirmPassword.$dirty, 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
            <input class="form-control input-lg" type="password"
                   name="confirmPassword" ng-model="signCtrl.confirmPassword"
                   repeat-password="password" placeholder="Confirm Password"
                  >
            <i class="glyphicon glyphicon-lock form-control-feedback"></i>
            <span class="help-block text-danger "
                 ng-if="signupForm.confirmPassword.$dirty"
                 ng-messages="signupForm.confirmPassword.$error">
              <span ng-message="required">You must confirm password.</span>
              <span ng-message="repeat">Passwords do not match.</span>
            </span>
          </div>

          <div class="form-group has-feedback"
               ng-class="{ 'has-success' : signupForm.fullname.$valid && signupForm.fullname.$dirty, 'has-error' : signupForm.fullname.$invalid && signupForm.fullname.$dirty }">
            <input class="form-control input-lg" type="text" name="fullname"
                   ng-model="signCtrl.fullname" placeholder="Your Full Name" required  ng-pattern="/^[a-zA-Z\s]*$/" novalidate >
            <i class="glyphicon glyphicon-user form-control-feedback"></i>
            <span class="help-block text-danger"
                  ng-if="signupForm.fullname.$dirty"
                  ng-messages="signupForm.fullname.$error">
              <span ng-message="required">Your name is required.</span>
              <span ng-message="pattern">only alphabets and spaces.</span>
            </span>
          </div>

          <div class="form-group has-feedback"
               ng-class="{ 'has-success' : signupForm.country.$valid && signupForm.country.$dirty, 'has-error' : signupForm.country.$invalid && signupForm.country.$dirty }">

          <select  class="form-control input-lg" name="country" id="country" ng-model="signCtrl.country" required>
            <option value="" disabled selected>Select Country</option> <!-- not selected / blank option -->
            <option value="Canada">Canada</option> <!-- interpolation -->
            <option value="Germany">Germany</option>
            <span ng-message="required">Your Country is required.</span>
          </select>
          </div>

          <div class="form-group has-feedback"
               ng-class="{ 'has-success' : signupForm.mentorType.$valid && signupForm.mentorType.$dirty, 'has-error' : signupForm.mentorType.$invalid && signupForm.mentorType.$dirty }">
          <select  class="form-control input-lg" name="mentorType" id="mentorType" ng-model="signCtrl.mentorType" required>
            <option value="" disabled selected selected>Select Mentor Type</option> <!-- not selected / blank option -->
            <option value="0" >Parent</option> <!-- interpolation -->
            <option value="1">Teacher</option>
            <span ng-message="required">Mentor Type is Required.</span>
           </select>
        </div>

          <div class="form-group has-feedback"
               ng-class="{ 'has-success' : signupForm.phone.$valid && signupForm.phone.$dirty,'has-error' : signupForm.phone.$invalid && signupForm.phone.$dirty }">

            <input class="form-control input-lg" type="tel" id="phone"
                   name="phone" ng-model="signCtrl.phone" placeholder="Phone"
                   ng-trim="true" ng-pattern="/^[0-9\.\+]{1,12}$/">
            <i class="glyphicon glyphicon-earphone form-control-feedback"></i>
            <span class="help-block text-danger" ng-if="signupForm.phone.$dirty"
                  ng-messages="signupForm.phone.$error"  >
              <span ng-message="pattern">Enter valid phone number.</span>
            </span>
          </div>

          <button class="btn btn-lg btn-block btn-primary" type="submit" ng-disabled="signupForm.$invalid || signCtrl.creating"><img ng-show="signCtrl.creating" height="30px" width="30px" src="assets/images/ajax-loader-light.gif"></img> {{signCtrl.account}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
