<div class="popover" tabindex="-1" >
  <div class="arrow"></div>
  <h3 class="popover-title" ng-bind-html="title" ng-show="title"></h3>
  <div class="popover-content">
    <form name="popoverForm" method="post" ng-submit="studentListCtrl.studentLogin()" novalidate>

      <div class="form-group  has-feedback">
        <input class="form-control input-lg" type="password" name="password"
               ng-model="studentListCtrl.password" placeholder="Password" required>
        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
      </div>

      <div class="form-actions">
        <button type="button" class="btn btn-danger" ng-click="$hide()">Close</button>
        <button type="submit"  ng-disabled="popoverForm.$invalid || studentListCtrl.loggining" class="btn btn-success"><img ng-show="studentListCtrl.loggining" height="30px" width="30px" src="assets/images/ajax-loader-light.gif"></img>
          {{studentListCtrl.button_message}}
        </button>
      </div>
    </form>
  </div>

</div>
