
    <!-- heading -->
    <div  id="heading" class="row">
        <div class="col-sm-12" >
            <div class="outer-game-box outer-game-box-select-stratergy">
                <div class="inner-game-box" >
                    <div class="strategy-title">
                         <span ng-bind-html=" ('Choose 1 or More Stratergies' | titleHighlighter )"></span>
                        <!-- strCtrl.titleOfStrategy -->
                    </div>
                    <div class="button-top-bar">

                        <button type="button" class="btn btn-info" ng-click='strCtrl.newGame()'>New Game</button>

                        <button type="button" class="btn btn-info" ng-click='strCtrl.game.changeStats()' ng-show="strCtrl.game.scoreButton && strCtrl.game.stats">Score Off</button>
                        <button type="button" class="btn btn-info" ng-click='strCtrl.game.changeStats()' ng-show="strCtrl.game.scoreButton &&!strCtrl.game.stats">Score On</button>

                        <button type="button" class="btn btn-info small-button"  ng-disabled='!strCtrl.game.showSubmitButton.truthValue;' ng-show="!strCtrl.game.showNextButton.truthValue;" ng-click="strCtrl.game.evaluateAnswer();" >Submit</button>

                        <button  type="button" class="btn btn-info small-button"  ng-disabled='!strCtrl.game.showNextButton.truthValue;' ng-show='strCtrl.game.showNextButton.truthValue;' ng-click="strCtrl.game.showNextQuestions();" >Next </button>

                    </div>
                    <div class="col-xs-8" >
                    <div class="header-question"  ng-show="!strCtrl.game.changeQuestionAnimation"   >
                      <span style="font-weight: 700;font-size: 2em;">
                          {{strCtrl.game.questionToDisplay.question}}
                         </span>
                         </div>
                        <div id="game-container">
                            <div grid-select-strategy id="game" ng-model='strCtrl.game' class="row game-reduced-height "></div>
                            <div id="game-over" ng-show="!strCtrl.game.countdownfinished" class="row game-overlay game-reduced-height-overlay ">
                            <h3> <timer countdown="5" interval="1000"  name="gameCountDown" >Your game will start in {{countdown}}</timer></h3>
                        </div>
                        <div id="game-over" ng-if="strCtrl.game.gameOver" class="row  game-overlay game-reduced-height-overlay">
                            <h3>  Sorry , play again.
                            <div class="lower">
                                <button type="button" class="btn btn-info" ng-click="strCtrl.newGame();">Try Again</button>
                            </div>
                            </h3>
                        </div>
                        <!-- begining of win overlay -->
                        <div id="win" ng-if="strCtrl.game.win" class="row game-overlay game-reduced-height-overlay">
                            You win!
                            <div class="lower">
                                <button type="button" class="btn btn-info" ng-click="strCtrl.newGame();">Try Again</button>
                            </div>
                        </div>
                        <!-- end of win overlay -->
                        </div> <!-- game-container -->
                        </div> <!-- end of col-sm-8 -->
                        <div class="col-xs-2 game-side-bar" >

                             <span ng-show="strCtrl.game.stats"> Total Questions <br />
                              {{strCtrl.game.totalfacts}}
                             </span>
                            <span  ng-show="strCtrl.game.stats">
                            Score <br />
                                     {{strCtrl.game.currentScore}}
                            </span>

                            <span class="spacer" ng-show="strCtrl.game.stats">
                            </span>

                            <span ng-if="strCtrl.game.instantaneousFeedBack">
                            <span ng-if="strCtrl.game.rightAnswer && !strCtrl.game.netural" ><img  src="app/secure/game/strategy/images/happy.png" style="margin-top:1px;" /> </span>
                             <span ng-if="!strCtrl.game.rightAnswer && !strCtrl.game.netural" ><img  src="app/secure/game/strategy/images/sad.png" style="margin-top:1px;" /></span>
                             </span>
                            <span class="spacer"></span>
                            <span class="build-facts" ng-show="strCtrl.game.watchList" >
                                    Code <br />
                             <span>
                              <span  ng-repeat="factdisp in strCtrl.game.factContent" ng-class="{'background-color-white':!factdisp.select && !factdisp.right && !factdisp.wrong ,  'background-color-green':factdisp.right, 'background-color-red':factdisp.wrong, 'background-color-blue':factdisp.select }">{{factdisp.fact}}
                              </span>
                            </span>
                            </span>


                            </div> <!-- end of col-sm-2 -->
                            </div> <!-- inner game box -->
                            </div> <!-- outer game box -->

                            </div> <!-- col sm 12 -->

                            </div> <!-- end of id = heading -->
         <div class="row">
          <div class="col-sm-12" >
            <div dropdown-select="ddSelectOptions"
            dropdown-model="ddSelectSelected"
            dropdown-item-label="text" style="margin-left:0px;border-style: solid; border-width: 5px;"  >
            </div>
