<div class="container">
   <div acme-navbar>
  </div>
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        <h2 class="text-center">Login</h2>

        <form name="loginForm">

          <div class="form-group  has-feedback">
            <input class="form-control input-lg" type="text" name="email"
                   ng-model="loginCtrl.email" placeholder="Email" ng-trim="true" required autofocus>
              <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
          </div>

          <div class="form-group  has-feedback">
            <input class="form-control input-lg" type="password" name="password"
                   ng-model="loginCtrl.password" placeholder="Password" required>
                    <i class="glyphicon glyphicon-lock form-control-feedback"></i>
          </div>

          <button type="submit" ng-disabled="loginForm.$invalid || loginCtrl.loggining"
                  class="btn btn-lg btn-block btn-success" ng-click="loginCtrl.emailLogin()"><img ng-show="loginCtrl.loggining" height="30px" width="30px" src="assets/images/ajax-loader-light.gif"></img> {{loginCtrl.button_message}}</button>
        </form>
      </div>
    </div>
  </div>
</div>